.auth .btn-auth-action{
    background-color: #1677ff;
}

.auth .btn-auth-action{
    padding: 12px 0 !important;
}

.auth .img-left img{
    width: 100%;
}

.auth .logo img{
    width: 32px;
    height: 32px;
}

.auth .content-form {
    /* height: 100vh; */
}