

@media screen and (min-width: 768px){
    .modal-user-tag{
        min-height: 50vh;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 767px){
    .modal-user-tag{
        min-height: 70vh;
        overflow-y: scroll;
    }
}